<!-- ======= Contact Me Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    <div #watchVisible class="section-title">
      <span>Contact Me</span>
      <h2>Contact Me</h2>
    </div>

    <div class="row">
      <div
        *ngIf="isVisible"
        [@slideInLeftOnEnter]
        [@fadeOutOnLeave]
        class="col-lg-6"
        style="margin-bottom: 2rem"
      >
        <div class="row">
          <div class="col-md-12">
            <div class="info-box">
              <mat-icon>person</mat-icon>
              <div class="social-links">
                <a href="https://github.com/hebd1" class="github"
                  ><i class="bi bi-github"></i
                ></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="#" class="telegram"><i class="bi bi-telegram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box mt-4">
              <mat-icon> email</mat-icon>
              <h3>Email Me</h3>
              <p>elihebdon@gmail.com</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box mt-4">
              <mat-icon> phone</mat-icon>
              <h3>Call Me</h3>
              <p>+1 (801) 420 4031</p>
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="isVisible"
        [@slideInRightOnEnter]
        [@fadeOutOnLeave]
        class="col-lg-6"
      >
        <form
          action="forms/contact.php"
          method="post"
          role="form"
          class="php-email-form"
        >
          <div class="row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                required
              />
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                required
              />
            </div>
          </div>
          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Subject"
              required
            />
          </div>
          <div class="form-group mt-3">
            <textarea
              class="form-control"
              name="message"
              rows="6"
              placeholder="Message"
              required
            ></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Me Section -->
