<!-- ======= Hero Section ======= -->
<section id="hero">
  <div style="z-index: 999" class="social-vert-container">
    <ul
      *ngIf="!scrolled"
      [@slideInUpOnEnter]
      [@fadeOutOnLeave]
      class="social-vert"
    >
      <li>
        <a href="https://github.com/hebd1" class="github"
          ><i class="bi bi-github"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/eli-hebdon" class="linkedin"
          ><i class="bi bi-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://t.me/elihebdon" class="telegram"
          ><i class="bi bi-telegram"></i
        ></a>
      </li>
    </ul>
  </div>
  <div [@fadeInOnEnter] [@fadeOutOnLeave] class="hero-container">
    <div id="profile_pic" class="text-center">
      <img id="headshot" class="img-fluid" src="./assets/img/headshot.png" />
    </div>
    <h1>Eli Hebdon</h1>
    <h2>
      Software Developer with a passion for solving problems with technology
    </h2>
    <a href="#about" class="btn-scroll scrollto" title="Scroll Down"
      ><i class="bi bi-chevron-down"></i>
    </a>
  </div>
</section>
<!-- End Hero -->
