<!-- ======= My Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="section-title">
      <span>Projects I've worked on</span>
      <h2>Projects I've worked on</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 justify-content-center align-items-center">
      <div class="project-content">
        <div class="project-description">
          <div class="card mx-auto">
            <h3 class="project-title">Pellego</h3>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content .
            </p>
            <ul class="project-tech-list">
              <li>Android Studio,</li>
              <li>Java,</li>
              <li>AWS Cognito,</li>
              <li>animations</li>
            </ul>
            <div class="social-links">
              <a href="#" class="github"><i class="bi bi-github"></i></a>
            </div>
          </div>
          <div class="video_container d-flex justify-content-end">
            <iframe
              class="d-none d-lg-block"
              id="yt_video"
              width="560"
              height="315"
              [src]="safeURL"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div>
        <img
          class="d-none d-lg-block"
          id="pellego_phone"
          src="../../../assets/img/pellego_phone.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-lg-12 mx-auto"></div>
  </div>
</section>
<!-- End My Portfolio Section -->
