<!-- ======= My Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <div #watchVisible class="section-title">
      <span>Projects</span>
      <h2>Projects</h2>
    </div>
  </div>
  <div
    *ngIf="isVisible"
    [@slideInRightOnEnter]
    [@fadeOutOnLeave]
    class="row justify-content-center"
  >
    <div class="col-lg-8 justify-content-center align-items-center">
      <div class="project-content">
        <div class="project-description">
          <div class="card mx-auto">
            <h3 class="project-title">Pellego</h3>
            <p class="card-text">
              eReader android application with rich feature set, user analytics,
              and learning modules to help improve reading speed
            </p>
            <ul class="project-tech-list">
              <li>Android Studio,</li>
              <li>Java,</li>
              <li>AWS Cognito,</li>
              <li>animations</li>
            </ul>
            <div class="social-links">
              <a href="#" class="github"><i class="bi bi-github"></i></a>
            </div>
          </div>
          <div class="video_container d-flex justify-content-end">
            <iframe
              class="d-none d-lg-block"
              id="yt_video"
              width="560"
              height="315"
              [src]="safeURL"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div>
        <img
          class="d-none d-lg-block"
          id="pellego_phone"
          src="../../../assets/img/pellego_home.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div
    *ngIf="isVisible"
    [@slideInRightOnEnter]
    [@fadeOutOnLeave]
    class="row justify-content-center"
  >
    <div class="col-lg-4">
      <div>
        <img
          class="d-none d-lg-block"
          id="pellego_phone"
          src="../../../assets/img/pellego_phone.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-8 justify-content-center align-items-center">
      <div class="project-content">
        <div class="project-description">
          <div class="card mx-auto" style="text-align: right">
            <h3 class="project-title">Meme.co</h3>
            <p class="card-text">
              .NET social media web application built to share and create memes
            </p>
            <ul class="project-tech-list" style="justify-content: flex-end">
              <li>Android Studio,</li>
              <li>Java,</li>
              <li>AWS Cognito,</li>
              <li>animations</li>
            </ul>
            <div class="social-links" style="justify-content: flex-end">
              <a href="#" class="github"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End My Portfolio Section -->
