<!-- ======= My Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <span>My Resume</span>
      <h2>My Resume</h2>
      <p></p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Eli Hebdon</h4>
          <p>
            <em
              >Innovative and deadline-driven Full Stack Software Developer with
              2+ years of experience developing user-centered UI experiences
              from initial concept to final, polished deliverable.</em
            >
          </p>
          <p></p>
          <ul>
            <li>Nampa, ID</li>
            <li>(801) 420 4031</li>
            <li>elihebdon@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor of Science in Computer Science</h4>
          <h5>2016 - 2021</h5>
          <p><em>University of Utah, Salt Lake City, UT</em></p>
          <p>
            Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam
            iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti
            nerada porti sand markend
          </p>
        </div>
        <div class="resume-item">
          <h4>Minor in Russian</h4>
          <h5>2017 - 2020</h5>
          <p><em>University of Utah, Salt Lake City, UT</em></p>
          <p>
            Quia nobis sequi est occaecati aut. Repudiandae et iusto quae
            reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates
            asperiores voluptatem Earum molestiae consequatur neque etlon sader
            mart dila
          </p>
        </div>
        <h3 class="resume-title">Achievements</h3>
        <div class="resume-item">
          <h4>Educational</h4>
          <ul>
            <li>
              Dean’s List: fall 2016, spring 2018, fall 2018, spring 2019, Fall
              2020
            </li>
            <li>Recipient, Utah Flagship Scholarship</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Extra Cirricular</h4>
          <ul>
            <li>Hack The U - Event Organizer of Utah's largest Hackathon</li>
            <li>National Society of Leadership and Success (2019 Induction)</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Other</h4>
          <ul>
            <li>Completed a 2 year religious humanitarian mission in Russia</li>
            <li>Multiple Android Apps published on the Google Play Store</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Software Development Engineer</h4>
          <h5>Dec 2021 - Present</h5>
          <p><em>Kount, an Equifax Company</em></p>
          <p><em>Boise, ID </em></p>
          <p></p>
          <ul>
            <li>
              Expanded product capabilities by developing multiple backend APIs
            </li>
            <li>
              Interviewed multiple engineering candidates and trained them in
              business practices
            </li>
            <li>
              Implemented various views and features in Angular while
              maintaining a user-friendly graphical interface
            </li>
            <li>
              Initiated ongoing professional development through creation of a
              weekly technical book club
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Software Development Engineer in Test</h4>
          <h5>May - Dec 2021</h5>
          <p><em>Kount, an Equifax Company</em></p>
          <p><em>Boise, ID </em></p>
          <p></p>
          <ul>
            <li>
              Improved code reliability through integration, service, and e2e
              tests
            </li>
            <li>
              Supported deployments and maintained high performance through load
              testing of kubernetes clusters
            </li>
            <li>Deployed ci/cd pipelines to automate integration process</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>IT Intern</h4>
          <h5>Apr - Sep 2019</h5>
          <p>
            <em>Center for High Performance Computing</em>
          </p>
          <p>
            <em>Salt Lake City, UT</em>
          </p>
          <p></p>
          <ul>
            <li>
              Implemented a series of bash scripts that queried cluster event
              logs resulting in an improved error detection and response time of
              20%
            </li>
            <li>
              Maximized uptime of Data Center resources through critical
              infrastructure system installations and monitoring
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Nuclear Safety Intern</h4>
          <h5>May - Aug 2017</h5>
          <p><em>Mission Support Alliance</em></p>
          <p><em>Richland, WA</em></p>
          <p></p>
          <ul>
            <li>Managed and updated Safety Data Sheet database</li>
            <li>
              Accelerated local police force training by conducting heat stress
              monitoring
            </li>
            <li>Reviewed and maintained injury case records</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End My Resume Section -->
